html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 64px;
  
  /* display: flex;
  flex-direction: column; */

  color: white;
  background-color: #1c1c1c;

  /* 64*4buttons + 16*3gap */
  width: 304px;

  margin: auto;
  margin-top: 128px;
}

#amount {
    display: flex;
    justify-content: right;
    margin-bottom: 16px;
    overflow: hidden;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

button {
    font-size: large;
    font-weight: 512px;

    color: white;
    border: none;

    border-radius: 32px;
    width: 64px;
    height: 64px;
}

button:hover {
    filter: brightness(90%);
    color: #1c1c1c;
}

#clear, #sign, #percent {
    background-color: #d4d4d2;
    color: #1c1c1c;
}
#clear:hover, #sign:hover, #percent:hover {
    color: white;
}

#divide, #multiply, #add, #subtract, #equals {
    background-color: #ff9500;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #dot {
    background-color: #505050;;
}

#zero {
    width: 144px;
}

